{% extends "base.html" %}
{% load static %}


{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">{{ photo.title }}</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img src="{{ photo.photo.url }}" alt="{{ photo.title }}" class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
<!--                    <p class="mb-4">-->
<!--                        Please support us by making <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a PayPal donation</a>. Nam ex nibh, efficitur eget libero ut, placerat aliquet justo. Cras nec varius leo.-->
<!--                    </p>-->
<!--                    <div class="text-center mb-5">-->
<!--                        <a href="#" class="btn btn-primary tm-btn-big">Download</a>-->
<!--                    </div>                    -->
                    <div class="mb-4 d-flex flex-wrap">
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Uploader: </span><span class="tm-text-primary"><a href="{% url 'userListPhoto' id=photo.uploader.id %}">{{ photo.uploader.get_full_name }}</a></span>
                        </div>
                    </div>

                    <div class="mb-4 d-flex flex-wrap">
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Dimension: </span><span class="tm-text-primary">{{ w }}x{{ h }}</span>
                        </div>
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">{{ f | upper }}</span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h3 class="tm-text-gray-dark mb-3">Prompt</h3>
                        <p>{{ photo.prompt }}</p>
                    </div>
                    <div>
                        <h3 class="tm-text-gray-dark mb-3">Category</h3>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">{{ photo.category }}</a>
                    </div>
                    <br>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span>
                       
                            {% csrf_token %}
                            {% if not request.user.is_authenticated %}
                            <i class="fa-regular fa-heart"></i>
                            {% else %}
                           
                            <button id="like-btn" class="border-0" data-photo-id="{{ photo.id }}">
                                {% if user not in photo.liked.all %}
                                <i class="fa-regular fa-heart"></i>
                            
                            {% else %}
                            
                                <i class="fa-solid fa-heart"></i>
                                {% endif %}
                            </button>
                            
                            {% endif %}
                            <strong id="likes-count">{{ photo.liked.all.count }}</strong>
                            <script>
                                $(document).ready(function() {
                                    $('#like-btn').on('click', function() {
                                        var photo_id = $(this).data('photo-id');
                                        var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
                            
                                        $.ajax({
                                            type: 'POST',
                                            url: '{% url "like_photo" %}',
                                            data: {
                                                'photo_id': photo_id,
                                                'csrfmiddlewaretoken': csrf_token
                                            },
                                            success: function(response) {
                                                if (response.is_liked) {
                                                    $('#like-btn i').removeClass('fa-regular fa-heart').addClass('fa-solid fa-heart'); // Remove the 'far' class
                                                } else {
                                                    $('#like-btn i').removeClass('fa-solid fa-heart').addClass('fa-regular fa-heart');
                                                }
                                                $('#likes-count').text(response.likes_count);
                                            },
                                            error: function(xhr, status, error) {
                                                console.log(error);
                                            }
                                        });
                                    });
                                });
                            </script>
                        </span>
                        <span><i class="fa-solid fa-eye"></i> {{ photo.view }}</span>
                    </div>
                    <br>
                    <div class="mb-4">
                        {{ photo.created | date }}
                    </div>
                </div>
                {% if request.user.is_authenticated and request.user == photo.uploader %}
                <a href="{% url 'edit' id=photo.id %}" class="btn btn-primary w-100">Goto Update</a>
                {% endif %}
            </div>
        </div>
<!--        <div class="row mb-4">-->
<!--            <h2 class="col-12 tm-text-primary">-->
<!--                Related Photos-->
<!--            </h2>-->
<!--        </div>-->
<!--        <div class="row mb-3 tm-gallery">-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-01.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Hangers</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">16 Oct 2020</span>-->
<!--                    <span>12,460 views</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-02.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Perfumes</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">12 Oct 2020</span>-->
<!--                    <span>11,402 views</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-03.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Clocks</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">8 Oct 2020</span>-->
<!--                    <span>9,906 views</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-04.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Plants</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">6 Oct 2020</span>-->
<!--                    <span>16,100 views</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-05.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Morning</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">26 Sep 2020</span>-->
<!--                    <span>16,008 views</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-06.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Pinky</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">22 Sep 2020</span>-->
<!--                    <span>12,860 views</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-07.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>Bus</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">12 Sep 2020</span>-->
<!--                    <span>10,900 views</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">-->
<!--                <figure class="effect-ming tm-video-item">-->
<!--                    <img src="img/img-08.jpg" alt="Image" class="img-fluid">-->
<!--                    <figcaption class="d-flex align-items-center justify-content-center">-->
<!--                        <h2>New York</h2>-->
<!--                        <a href="#">View more</a>-->
<!--                    </figcaption>                    -->
<!--                </figure>-->
<!--                <div class="d-flex justify-content-between tm-text-gray">-->
<!--                    <span class="tm-text-gray-light">4 Sep 2020</span>-->
<!--                    <span>11,300 views</span>-->
<!--                </div>-->
<!--            </div>        -->
<!--        </div> &lt;!&ndash; row &ndash;&gt;-->
    </div> <!-- container-fluid, tm-container-content -->

{% endblock content %}